{% block header %}
<div>
  <logo class="float-md-start mb-0">
    <a href="/">
        <img border="0" alt="Munro Consulting Logo" src="{{ url_for('static', filename='images/logo.png') }}" >
    </a>
  </logo>
  <nav class="nav nav-masthead justify-content-center float-md-end">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
    <a class="nav-link" href="#">Features</a>
    <a class="nav-link" href="#">Contact</a>
  </nav>
</div>


{% endblock header %}
