{% include '_metadata.html' %}

<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        {% include '_header.html' %}
    </header>

    <main class="px-3">
        {% block content %}{% endblock %}
    </main>

  <footer class="mt-auto text-white-50">
        {% include '_footer.html' %}
  </footer>

</div>

</body>
</html>
